VITE_API_URL=http://localhost:4000
VITE_SUPABASE_URL=https://ircnocnlhrgmtfpmxgph.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyY25vY25saHJnbXRmcG14Z3BoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMyMDI3NDEsImV4cCI6MjA3ODc3ODc0MX0.w1HP9Qfpf8y3c9BwklGWdWpf3T_eCH8AXCHJcxhCFwY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyY25vY25saHJnbXRmcG14Z3BoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzIwMjc0MSwiZXhwIjoyMDc4Nzc4NzQxfQ.S3Gc_lecgCIb2hU901nwId4XF9kNfDQWeIHk5UGtHkw